.navbar {
    width: 100%;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;
    background: beige;
    padding: 15px 7%;
    box-sizing: border-box;


}
body{
    min-height: 100vh;
    position: relative;

}
body::before{
position: absolute;
content: "";
width: 100%;
height: 100%;
background: rgba(red, green, blue, alpha);
z-index: -1;
}


header{
    background-color: white;
    box-shadow: 0 0 5px rgba(red, green, blue, alpha)

}

 

